body {
    font-size: 14px;
    color: #333333;
    font-family: Times, 'Times New Roman', georgia, serif;
    width: 1024px;
}

nav ul {
    list-style-type: none;
    /*removed bullet points*/
    margin: 0;
    padding: 0;
    background-color: #333333;
    font-size: 120%;
    overflow: hidden;
    width: 1024px;
}

nav li {
    float: left;

}

nav li a {
    display: block;
    /*puts items inline*/
    color: #fefefe;
    text-align: left;
    padding: 1em 1em;
    text-decoration: underline;
}

nav li a:hover {
    border-bottom: 3px solid #ff0000;
}

#title h1 {
    margin-bottom: 0;
}

#title h4 {
    margin: 0;
}

.active {
    border-bottom: 3px solid #ff0000;
}

article {
    margin-top: 5px;
    width: 250px;
    height: 150px;
    padding: 0.25rem;
    margin-bottom: 5px;
    /*outline-style: dashed;
    outline-color: blueviolet;*/

}

#article1 {
    position: absolute;
    left: 20px;
    top: 160px;

}

#article2 {
    position: absolute;
    left: 276px;
    top: 160px;
}

#article3 {
    position: absolute;
    left: 532px;
    top: 160px;
}

#article4 {
    position: absolute;
    left: 20px;
    top: 370px;
}

#article5 {
    position: absolute;
    left: 276px;
    top: 370px;
}

#article6 {
    position: absolute;
    left: 532px;
    top: 370px;
}

img {
    width: 250px;
    height: 170px;
}

section {
    width: 250px;
    padding-left: .5rem;
    margin-left: .5rem;
    float: left;
}

aside {
    width: 256px;
    position: absolute;
    left: 788px;
    top: 160px;
    float: right;
    /*outline-style: dashed;
    outline-color: blueviolet*/
}

aside h1 {
    margin-left: 15px;
}